@model IEnumerable<MyLibrary.Domain.Entities.Book>

<div class="w-100 card border-0 p-4">
	<div class="card-header bg-success bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-black bg-white py-2">Villa List</h2>
			</div>
		</div>
	</div>
	<div class="card-body border
		<div class="col-6 offset-6 text-end">
			<a asp-controller="Villa" asp-action="Create" class="btn btn-secondary">
				<i class="bg-info bi-plus-circle"></i>Create new Villa
			</a>
		</div>

		<table class="table table-border table-stripe">
			<thead>
				<tr>
					<th>Title</th>
					<th>Description</th>
					<th>Author</th>
					<th>Amount of Pages</th>
					<th>Current Page</th>
				</tr>
			</thead>

			<tbody>
			@foreach (var obj in Model)
			{
					<tr>
						<td>@obj.Title</td>
						<td>@obj.Description</td>
						<td>@obj.Author</td>
						<td>@obj.Pages</td>
						<td>@obj.CurrentPage</td>
						<td>
							<div class="w-75 btn-group" role="group">
								<a asp-action="Update" asp-route-villaId="@obj.Id" class="btn btn-success mx-2">
									<i class="bg-info bi-pencil-square"></i> Edit
								</a>
								<a asp-action="Delete" asp-route-villaId="@obj.Id" class="btn btn-danger mx-2">
									<i class="bg-info bi-trash-fill"></i> Delete
								</a>
							</div>
						</td>
					</tr>
			}
			</tbody>
		</table>
	</div>
</div>